# Preparação dos dados
Nesse notebook vamos preparar os dados que utilizaremos ao longo do desenvolvimento do projeto. Os datasets aqui utilizados são importados do portal de dados abertos da UFRN (http://dados.ufrn.br/).

Para esse estudo, analisaremos apenas os dados do curso de Ciência e Tecnologia da UFRN, mais espeficamente a disciplina de Cálculo 2, onde tentaremos prever as possiveis reprovações dos alunos se baseando em seu histórico e na nota da primeira unidade na disciplina.

In [1]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [10]:
matriculas_20171 = pd.read_csv("data/matriculas_pos_limpeza_20171.csv", sep=";")

In [11]:
matriculas_20171.shape

(9101, 11)

In [12]:
matriculas_20171.columns

Index(['Unnamed: 0', 'id_turma', 'discente', 'id_curso', 'unidade', 'nota',
       'reposicao', 'faltas_unidade', 'media_final', 'numero_total_faltas',
       'descricao'],
      dtype='object')

In [13]:
matriculas_20171.head()

,Unnamed: 0,id_turma,discente,id_curso,unidade,nota,reposicao,faltas_unidade,media_final,numero_total_faltas,descricao
0,4138,57595049,5cc7d5a81522afcf7982ec1d36f25d4e,10320810.0,3.0,0.0,f,0.0,0.0,70.0,REPROVADO POR MÉDIA E POR FALTAS
1,4139,57595049,5cc7d5a81522afcf7982ec1d36f25d4e,10320810.0,2.0,0.0,f,0.0,0.0,70.0,REPROVADO POR MÉDIA E POR FALTAS
2,4140,57595049,5cc7d5a81522afcf7982ec1d36f25d4e,10320810.0,1.0,0.0,f,0.0,0.0,70.0,REPROVADO POR MÉDIA E POR FALTAS
3,4141,57595049,a8bc0c7004447640dc35424aea78b316,10320810.0,3.0,0.0,f,0.0,0.0,68.0,CANCELADO
4,4142,57595049,a8bc0c7004447640dc35424aea78b316,10320810.0,2.0,0.0,f,0.0,0.0,68.0,CANCELADO

In [9]:
id_cet = 10320810
alunos_cet = matriculas_20171[matriculas_20171.id_curso == id_cet]

In [14]:
turma_20171 = pd.read_csv("data/turmas-20171.csv", sep=";")

In [15]:
turma_20171.columns

Index(['id_turma', 'codigo', 'nome_ascii', 'docente_interno',
       'docente_externo', 'nivel_ensino', 'ano', 'periodo', 'capacidade_aluno',
       'local', 'data_inicio', 'data_fim', 'codigo_turma', 'descricao_horario',
       'observacao', 'distancia', 'tipo', 'data_consolidacao', 'agrupadora',
       'qtd_aulas_lancadas', 'situacao_turma', 'convenio',
       'modalidade_participantes', 'campus_turma', 'Unnamed: 24'],
      dtype='object')

In [16]:
columns_sel = ['id_turma', 'codigo', 'nome_ascii', 'docente_interno',
       'ano', 'periodo', 'situacao_turma']

In [17]:
turma_20171.shape

(14036, 25)

In [18]:
turma_20171.head()

,id_turma,codigo,nome_ascii,docente_interno,docente_externo,nivel_ensino,ano,periodo,capacidade_aluno,local,...,distancia,tipo,data_consolidacao,agrupadora,qtd_aulas_lancadas,situacao_turma,convenio,modalidade_participantes,campus_turma,Unnamed: 24
0,57593168,MUT0101,LINGUAGEM E ESTRUTURACAO MUSICAL I,6461327529e0404944cd1295b7f81b1f,NaN,TÉCNICO,2017,1,50.0,Sala 24,...,f,1,2017-07-03 19:50:39.259,f,26.0,CONSOLIDADA,NaN,Presencial,NaN,NaN
1,57593169,MUT0101,LINGUAGEM E ESTRUTURACAO MUSICAL I,f3db137cfe62d6556e92aadcee290b1c,NaN,TÉCNICO,2017,1,50.0,Sala 24,...,f,1,2017-07-05 08:17:47.229,f,34.0,CONSOLIDADA,NaN,Presencial,NaN,NaN
2,57593170,MUT0103,LINGUAGEM E ESTRUTURACAO MUSICAL III,f3db137cfe62d6556e92aadcee290b1c,NaN,TÉCNICO,2017,1,50.0,Sala 24,...,f,1,NaN,f,NaN,EXCLUÍDA,NaN,Presencial,NaN,NaN
3,57593172,MUT310,APRECIACAO MUSICAL I,40831b01609dda6af0b3083ec69fefcd,NaN,TÉCNICO,2017,1,30.0,Sala 25,...,f,1,NaN,f,NaN,EXCLUÍDA,NaN,Presencial,NaN,NaN
4,57593173,MUT477,ARRANJOS I,6a0f897c4c2000ff33a580db781815bd,NaN,TÉCNICO,2017,1,20.0,LAMUCO,...,f,1,2017-07-05 17:37:03.708,f,36.0,CONSOLIDADA,NaN,Presencial,NaN,NaN